/* Сбрасываем стили браузера */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	vertical-align: baseline;
}

html,
body {
	height: 100%;
	line-height: 1.5;
	background-color: #fff;
	color: #333;
}

/* Для всех ссылок убираем подчеркивание */
a {
	text-decoration: none;
}

/* Убираем стандартное оформление форм */
button,
input,
select,
textarea {
	background: white;
  padding: 12px !important;
	border: 2px #111827 solid;
  border-radius: 4px;
	font: inherit;
	color: inherit;
	outline: none;
}

/* Сброс стандартного отступа у списков */
ul,
ol {
	list-style: none;
}

/* Убираем полосы прокрутки */
body::-webkit-scrollbar {
	display: none;
}
